.TodoInsert {
    display: flex;
    background: #495057;
    input {
        // 기본 스타일 초기화
        background: none;
        outline: none;
        border: none;
        padding: 0.5rem;
        font-size: 1.125rem;
        line-height: 1.5;
        color: white;
        // input 태그의 placeholder의 색 넣기
        &::placeholder {
            color: #dee2e6;
        }
        // 버튼을 제외한 영역을 모두 차지하기
        flex: 1;
    }
    button {
        // 기본 스타일 초기화
        background: none;
        outline: none;
        border: none;
        background: #868e96;
        color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;

        // Hover Styling
        // hover 했을 때 손가락 모양
        cursor: pointer;
        // hover 했을 때 색 바뀌는 속도와 배경색
        transition: 0.1s background ease-in;
        &:hover {
            background: #adb6bd;
        }
    }
}
